/*///////////////////////////////////////////////////////////////////
        GLOBAL
///////////////////////////////////////////////////////////////////*/
* {
    box-sizing: border-box;
    transition: 300ms;
    margin: 0;
    padding: 0;
}

:root {
    --green: #638A5C;
}

html,
body {
    font-family: 'Inter', sans-serif;
    /* margin: 0;
    padding: 0; */
}

nav {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button>* {
    pointer-events: none;
}

a,
button {
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

/*///////////////////////////////////////////////////////////////////
        CLASSES
///////////////////////////////////////////////////////////////////*/

/*  nav classes    */

.nav {
    background-color: #fff;
    position: fixed;
    padding: 1em 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.309);
}

.nav-container {
    align-items: center;
}

.nav-container,
.logo {
    display: flex;
}

/*  logo classes    */

.logo {
    align-items: center;
}

.logo-img {
    width: 1.75em;
}

.logo-text {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: bold;
}

/*  nav-links-container classes    */

.nav-links-container,
.nav-btns-container {
    display: none;
}

/*  menu-open classes    */

.menu-open .nav-container {
    display: grid;
    grid-template-rows: auto auto;
}

.menu-open .logo,
.menu-open .menu-btn {
    grid-column: 1 / -1;
    grid-row: 1;
}

.menu-open .menu-btn {
    transform: rotate(-270deg);
}

.menu-open .nav-links-container {
    padding: 3em 0;
    grid-row: 2;
    display: grid;
    grid-gap: .5em;
    text-align: center;
}

.menu-open .nav-link,
.menu-open .green-btn,
.menu-open .login-btn {
    background-color: transparent;
    border: none;
    color: #000;
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    padding: .5em 1.5em;
    width: 100%;
}

/*      menu btn        */

.menu-btn {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    margin-left: auto;
}

/*      header classes        */

.header-section {
    background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: cover;
    background-position: center;
    padding-top: 3.5em;
}

.hero-container {
    padding-bottom: 4.3em;
}

.hero-content {
    background-image: linear-gradient(rgba(0, 0, 0, .75) 80%, rgba(0, 0, 0, 0));
    padding: 4.3em 2em;
}

.hero-title {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 400;
}

.hero-subtext {
    color: #fff;
}

/*      search classes        */

.search-field {
    background-color: white;
    border: .0625em solid white;
    border-radius: .5em;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.search-field .fa-solid {
    margin-inline: .5em;
    color: var(--green);
}

.search-input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

.search-green-btn {
    background-color: var(--green);
    border: 0;
    color: #fff;
    font-weight: 600;
    padding: .75em 1.5em;
}

/*      Cards classes        */

.cards-title {
    color: #565656;
    padding: 1.25em 0 1em 0;
}

.cards-container {
    display: grid;
    row-gap: 3em;
    padding-bottom: 3em;
}

.card {
    display: grid;
}

.card .image {
    aspect-ratio: 1.83;
    margin-bottom: 1.5em;
    object-fit: cover;
    width: 100%;
}

.card .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .25em;
}

.card .length {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1.25em;
}

.card .description {
    color: #6f6f6f;
    margin-bottom: 1.75em;
}

.card .link {
    background-color: var(--green);
    border-radius: .25em;
    color: #fff;
    padding: .5em .75em;
    width: fit-content;
}

.card>:not(.image) {
    margin-left: 1rem;
    margin-right: 1rem;
}

/*      Info Blocks classes        */

.info-blocks-section {
    background-color: #fafafa;
    padding: 4.3125em 0;
}

.info-blocks-container {
    display: grid;
    row-gap: 3.75em;
    text-align: center;
}

.info-block {
    display: grid;
    row-gap: 1.5em;
}

.info-block .fa-solid {
    color: #4e4e4e;
    font-size: 4.375rem;
}

.info-block .cta {
    font-size: 1.2rem;
    font-weight: 700;
}

.info-block .subtext {
    color: #1f1f1f;
    font-size: 1rem;
}

/*footer classes*/
.footer {
    background-color: #000;
    color: #A5A5A5;
    text-align: center;
    display: grid;
    grid-gap: 2em;
    padding: 3em 0;
}

.footer-nav-links-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.footer-nav-link {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
    padding: 0;
}

.footer .logo {
    color: #fff;
    width: fit-content;
    margin: auto;
}

.footer .logo-text {
    margin: 0;
}

.copyright {
    margin: 0;
}

/*///////////////////////////////////////////////////////////////////
        UTLILITY CLASSES
///////////////////////////////////////////////////////////////////*/
.container {
    width: clamp(200px, 94%, 1320px);
    margin-left: auto;
    margin-right: auto;
}

.yellow {
    color: #ECE480;
}

.green {
    color: var(--green);
}

.menu-open {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

@media(min-width: 1020px) {
    /*  nav-links-container classes    */

    .nav-links-container {
        display: flex;
        gap: .75em;
        margin-left: auto;
        align-items: center;
    }

    .nav-link,
    .green-btn,
    .login-btn {
        font-weight: 600;
        padding: .75em 1.5em;
    }

    .green-btn,
    .login-btn {
        border-radius: .25em;
    }

    .nav-link {
        padding: .5em;
    }

    .green-btn {
        background-color: #638A5C;
        border: 1px solid #638A5C;
        color: #fff;
    }

    .login-btn {
        background-color: #fff;
        border: 1px solid;
        color: #000;
    }

    .menu-btn {
        display: none;
    }

    /*      header classes        */

    .header-section {
        background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
        background-size: cover;
        background-position: center;
        padding-top: 3.5em;
    }

    .hero-container {
        padding-bottom: 4.3em;
    }

    .hero-content {
        background-image: linear-gradient(rgba(0, 0, 0, .75) 80%, rgba(0, 0, 0, 0));
        padding: 4.3em 2em;
    }

    .hero-title {
        color: #fff;
        font-size: 2.5rem;
        font-weight: 400;
    }

    .hero-subtext {
        color: #fff;
    }

    /*      Cards classes        */

    .cards-container {
        row-gap: 2em;
    }

    .card {
        grid-template-columns: 5% 37.5% 5% 5% 5% 37.5% 5%;
        grid-template-rows: 15% auto auto auto auto 15%;
        height: fit-content;
    }

    .card .image {
        aspect-ratio: 1.5;
        margin-bottom: 0;
        grid-row: 1 / -1;
        grid-column: 1 / 5;
    }

    .card .title {
        grid-row: 2;
    }

    .card .length {
        margin-bottom: 0;
        grid-row: 3;
    }

    .card .description {
        margin: 1.75em 1em;
        grid-row: 4;
    }

    .card .link {
        grid-row: 5;
    }

    .card>:not(.image) {
        grid-column: 6 / -2;
    }

    .card:nth-child(even) .image {
        grid-column: 4 / -1;
    }

    .card:nth-child(even)>:not(.image) {
        grid-column: 2 / 3;
    }

    /*      Info Blocks classes        */

    .info-blocks-container {
        display: flex;
        justify-content: space-between;
    }

    .info-block {
        width: clamp(100px, 75%, 330px);
    }
}